<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Log in to Key Nest securely using your Google account. Access your account and manage your secrets with ease."
          name="description">
    <meta content="noindex, nofollow" name="robots">
    <title>Login - Key Nest</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="login-card p-4 shadow rounded">
        <h1>Welcome to Key Nest</h1>
        <p>Login with your Google account to continue.</p>
        <a class="btn btn-google d-flex align-items-center" href="#" th:href="@{/oauth2/authorization/google}">
            <img alt="Google Logo" class="img-fluid" style="width: 24px; height: 24px;"
                 th:src="@{/images/google-original.svg}">
            Continue with Google
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
